
h2 {
    font-family: "Monserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
}

#mockup {
    transform: rotate(25deg);
    margin-top: 90px;
}

#brand {
    font-weight: 400;
    font-size: 2.4rem;
    font-family: "Ubuntu";
}

#press {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 3%;
    text-align: center;
}

/* Testimonial Section */
#testimonials {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

#testimonials img {
    border-radius: 90px;
    margin: 20px;
    width: 10%;
    
}

.btn:hover {
    background-color: rgb(177, 42, 42);
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 12%;
}

li {
    margin: 0 15px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.icon {
    width: 40px;
    padding-right: 15px;
}

.play {
    padding: 4px 15px 4px 0;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px
}

.title {
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserat-light";
}

.features {
    text-align: center;
    margin: 7% auto;
}

.features img {
    width: 60px;
    margin: 15px 0;
}
.features p {
    color: #afafaf
}