/**********    TAG STYLES    **********/
h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 12%;
}
h2 {
    font-family: "Monserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
li {
    margin: 0 15px;
}


/**********    ID STYLES    **********/
#brand {
    font-weight: 400;
    font-size: 2.4rem;
    font-family: "Ubuntu";
}
#cta {
    padding: 50px 100px;
    width: 100%;
    background-color: #ff4c68;
    min-height: 200px;

}
#cta button:nth-of-type(1) {
    background-color: #fff;
}
#cta button:hover {
    background-color: rgb(177, 42, 42);

}
#footer, #cta {
    margin: 0 auto 2%;
    text-align: center;
}
#footer {
    margin-top: 40px;
}

#footer img {
    width: 25px;
    margin: 10px 10px 20px 10px;
}
#mockup {
    transform: rotate(25deg);
    margin-top: 75px;
    width: 40%;
    position: absolute;
}
#press {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 3%;
    text-align: center;
}
#pricing {
    margin: 0 auto;
    padding: 1% 8%;
    width: 100%;
}
#testimonials {
    background-color: #ff4c68;
    color: white;
    padding: 7% 5%;
    text-align: center;
}
#testimonials h2 {
    padding-bottom: 60px;
}
#title {
    background-color: #ff4c68;
}


/**********    CLASS STYLES    **********/
.btn {
    width: 80%;
    max-width: 200px;
    margin: 15px auto 0 auto;
}
.btn:hover {
    background-color: rgb(177, 42, 42);
}
.card {
    margin: 1% 0;
}
.card, .card-header {
    /* width: 100%; */
    text-align: center;
}
.carousel-inner {
    padding: 0 10%;
}
.container-fluid {
    padding: 3% 15% ;
}
.features {
    text-align: center;
    margin: 7% auto;
    position: relative;
    z-index: 1;
    background-color: white;
    min-height: 300px ;
    margin-top: 0;
    padding-top: 100px;
}
.features img {
    width: 60px;
    margin: 15px 0;
}
.features p {
    color: #afafaf
}



.free {
    border: 1px solid #0275d8;
    color: #0275d8;
}
.icon {
    width: 40px;
    padding-right: 15px;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Monserat-light";
}
.no-border {
    border: none;
}
.play {
    padding: 4px 15px 4px 0;
}
.press-img {
    width: 15%;
    margin: 20px 20px 50px
}
.price-intro {
    margin: 1% auto;
    text-align: center;
    width: 70%;
}
.testimonial-img {
    border-radius: 90px;
    margin: 20px;
    width: 10%;
    
}
.title {
    color: white;
    padding-bottom: 30px;
}