
/************ RESET ************/
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'EB Garamond', serif;
    font-size: 5.625em;
    line-height: 2;
}

h1, h2 {
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 35px;
}

h2, h3 {
    font-family: 'Architects Daughter', cursive;
}

h3 {
    color: #11999E;
}

/************ Shared Styles ************/

.content-container {
    width:100x;
}

.content-container p {
    font-family: 'Rajdhani', sans-serif;;
}

/************ Indivudual Styles ************/

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300xp;
}

.profile {
    padding: 20px 0;
}

.profile img {
    width: 150px;
    border-radius: 90px;;
}

.skills {
    padding: 20px 0;
}

.contact-me {
    padding: 20px 0;
}

.skill-img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
}

.skill-row h3, p {
    text-align: left;
}

.skill-row h3 {
    padding-top: 30px;
}

.skill-row p {
    line-height: 2;
}

.contact-me h3, p {
    text-align: center;
}